@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {
    --branco: #e4f9f5;
    --azul: #00008B;
    --preto: #212121;
    --laranja: #FF8C00;
}

* {
    /* CSS Reset */
    padding: 0;
    margin: 0;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid;
    border-radius: 0.5rem;
    height: 80%;
    background: rgba(255,255,255, 0.8);
    margin: 4rem;
}

.login input {
    border-radius: 5px;
    width: 10rem;
    height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.login__container {
    display: flex;
    justify-content: space-between;
}

.login__container__titulo {
    color: var(--laranja);
    background-image: url("../img/series.jpg");
    background-size: cover;
    background-color: var(--azul);
    width: 66vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.login__container__form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--preto), var(--azul)) !important;
    height: 100vh;
    width: 34vw;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.login-form {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.login-form__campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

div.center-pag{
    justify-content: center;
}
body{
    justify-content: center;
    font-family: 'Montserrat', sans-serif;  
    background: #0174BE;
    color: var(--branco);
}

.cabecalho {
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;

}

.cabecalho__logo {
    align-items: center;
    display: flex;
    margin: 2rem;
}

.cabecalho__apr {
    align-items: center;
    color: var(--branco);
    display: flex;
    margin: 2rem;
}

.cabecalho__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem;
}

.cabecalho__links-item {
    background-color: var(--branco);
    border-radius: 0.3125rem;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.cabecalho__links a:hover {
    background-color: gray;
    color: var(--branco);
}

.container {
    min-height: 100vh;
    margin: 5rem;
}

.categorias {
    display: flex;
    flex-direction: column;
}

.categoria {
    display: flex;
    flex-direction: column;
}

.categoria__titulo {
    text-align: center;
    border-radius: 0.3125rem;
    color: var(--branco);
    margin: 2rem 0;
    padding: 1.5rem;
    background: rgba(0,0,0,0.7);
}


.series {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    background: rgba(0,0,0, 0.5);
    border-radius: 0.3125rem;
}

.serie {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.serie img {
    max-width: 80%;
    height: 80%;
}

.serie img:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.rodape {
    display: flex;
    justify-content: space-between;
    background-color: var(--preto);
    height: 20vh;
}

.rodape__logo {
    align-items: center;
    display: flex;
    margin-left: 2em;
}

.rodape__feito {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    gap: 1rem;
    align-items: center;
}

ul {
    list-style-type: none;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 2px solid;
    border-radius: 3rem;
    height: 80%;
    background: rgb(177 44 172 / 22%);
}

textarea {
    resize: none;

  }

textarea:invalid {
    border: 2px dashed rgb(209, 204, 204);
  }
  
textarea:valid {
    border: 4px solid rgb(0, 0, 0);
  }

.containercont {
    min-height: 20vh;
    margin: 5rem;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

